        .featured-item {
            position: relative;
            border-top: 1px solid black;
            padding: 20px 0;
            overflow: hidden;
        }
        
        .title-container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.5rem;
            height: 100px;
        }
        
        .left-text {
            position: absolute;

            transform: translate(100%, 0px);
            transition: all 0.3s ease;
        }

        .right-text {
            position: absolute;
            transform: translate(100%, 0px);
            opacity: 0;
            transition: all 0.3s ease;
        }
        
        .image-container {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all 0.3s ease;
            z-index: 2;
        }
        
        .image-container img {
            width: 150px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;
            border-top-right-radius: 10%;
            border-bottom-left-radius: 10%;
        }

        .featured-item:hover{
            background-color: rgba(255, 149, 0, 0.85);
        }
        
        .featured-item:hover .left-text {
            transform: translateX(calc(-50% - 120px));
        }
        
        .featured-item:hover .right-text {
            transform: translateX(calc(-50% + 120px));
            opacity: 1;
        }
        
        .featured-item:hover .image-container {
            opacity: 1;
        }